.block-latest-phpclasses-packages-cleargray {
	position:relative;
	display:block;
	margin:0 0 5px 0;
	padding:0;
	background-color:#F9F9F9;
	border:#aaa solid 1px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow:1px 1px 3px rgba(22,22,22,0.5);
	overflow:hidden;
	user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.block-latest-phpclasses-packages-cleargray .header {
	position:relative;
	display:block;
	overflow:hidden;
	height:20px;
	margin:0;
	padding:5px;
	border-bottom:#111 inset 1px;
	background:-moz-linear-gradient(19% 75% 90deg,#787878, #A6A6A6, #A4A4A4 100%);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#787878), to(#A6A6A6), color-stop(.6,#A4A4A4));
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}
.block-latest-phpclasses-packages-cleargray .header h3 {
	position:relative;
	line-height:20px;
	vertical-align:middle;
	font-size:1.3em;
	color: #033;
	text-shadow:1px 1px 1px #EEE;
}
.block-latest-phpclasses-packages-cleargray themes {
	position:relative;
	padding: 5px;
	margin-bottom:10px;
	background-color:#F7FBFE;
	border:1px solid rgba(82,168,236,.75)!important;
	border-radius: 4px; /* Firefox */
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and Chrome */
	-khtml-border-radius: 4px 4px 4px 4px; /* Linux browsers */ 
	box-shadow:0 0 5px rgba(82,168,236,.5);
	-moz-box-shadow:0 0 5px rgba(82,168,236,.5);
	-webkit-box-shadow:0 0 5px rgba(82,168,236,.5);	
}
.block-latest-phpclasses-packages-cleargray .text {
	position:relative;
	margin:0;
	padding:5px;
	color: #003333;
	font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif,Verdana;
	font-size:13px;
}
.block-latest-phpclasses-packages-cleargray .text .table {position:relative; display:table; margin:0; padding:0; width:100%;}
.block-latest-phpclasses-packages-cleargray .text .row {position:relative; display:table-row; margin:0; padding:2px; }
.block-latest-phpclasses-packages-cleargray .text .row:nth-child(odd) {background-color:#f5f5f5;}
.block-latest-phpclasses-packages-cleargray .text .row:nth-child(even) { background-color:#fff; }
.block-latest-phpclasses-packages-cleargray .text .cell {position:relative; display:table-cell; vertical-align:middle; text-align:left; padding:4px 2px; border-bottom:#ccc dashed 1px; color:#555;}
.block-latest-phpclasses-packages-cleargray .text .cell a {color:#777; text-decoration:none; text-shadow:1px 1px 1px #eee;}
.block-latest-phpclasses-packages-cleargray .text .cell a:hover {color:#555; text-decoration:none; text-shadow:1px 1px 1px #aaa;}
.block-latest-phpclasses-packages-cleargray .text .right {padding:2px 2px 2px 6px; text-align:right;}
.block-latest-phpclasses-packages-cleargray .more {margin-top:5px; padding:5px; text-align:right; color:#555; font-weight: 900;}
.block-latest-phpclasses-packages-cleargray .more a {color:#555; font-weight: 900;}